{% extends "user/user_layout.html.twig" %}

{% block content %}
    <div class="mb-5 w-100">
        <h1 class="text-center mt-3">All upcoming Conferences</h1>

        <h3 class="ml-5 my-5 text-secondary indent-50">Featured Conferences</h3>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for conference in featuredConferences %}
                <div class="card w-30 m-2 border-warning">
                    <div class="card-header d-flex justify-content-between">
                        <a href="{{ path('conferences_show', { slug: conference.slug }) }}">
                            <h5 class="card-title text-primary my-0"><i class="far fa-star text-warning mr-3"></i>{{ conference.name }}</h5>
                        </a>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="card-text text-center">From <mark>{{ conference.startAt|date('m/d/Y') }}</mark> To <mark>{{ conference.endAt|date('m/d/Y') }}</mark></div>
                        <div class="card-text text-center mt-2">
                            {% if conference.online %}
                                Online <img class="country-flag" alt="" src="{{ asset('build/images/online.svg') }}">
                            {% elseif conference.country %}
                                {{ conference.city }} <img class="country-flag" alt="" src="/bundles/easyadmin/images/flags/{{ conference.country|upper }}.png">
                            {% endif %}
                        </div>
                        <div class="card-text my-3">{{
                                conference.description ?
                                conference.description|u.truncate(100, '...', false) :
                                '<em>No description provided</em>'|raw
                        }}</div>
                        {% set cfpIsOpen = conference.cfpEndAt is defined and (conference.cfpEndAt|date('m/d/Y') > 'now'|date('m/d/Y') or conference.cfpEndAt|date('Y') > 'now'|date('Y')) %}
                        {% set flexJustify = cfpIsOpen ? 'justify-content-between' : 'justify-content-center' %}
                        <div class="card-text d-flex {{ flexJustify }} text-center px-3 mt-auto">
                            <form action="{{ path('new_participation', { id: conference.id }) }}" method="GET" class="action-ask-participation">
                                <button type="submit" class="btn color-done p-0"><i class="fas fa-hand-paper"></i> Ask Participation</button>
                                <input type="hidden" name="token" value="{{ csrf_token('') }}">
                            </form>
                            {% if cfpIsOpen %}
                                <form action="{{ path('new_submit', { id: conference.id }) }}" method="GET" class="action-submit">
                                    <button type="submit" class="btn color-pending p-0"><i class="fa fa-microphone"></i> Submit a Talk</button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3 class="ml-5 my-5 text-secondary indent-50">Regular Conferences</h3>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for conference in conferences %}
                <div class="card w-30 m-2 border-secondary">
                    <div class="card-header d-flex justify-content-between">
                        <a href="{{ path('conferences_show', { slug: conference.slug }) }}">
                            <h5 class="card-title text-primary my-0">{{ conference.name }}</h5>
                        </a>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="card-text text-center">From <mark>{{ conference.startAt|date('m/d/Y') }}</mark> To <mark>{{ conference.endAt|date('m/d/Y') }}</mark></div>
                        <div class="card-text text-center mt-2">
                            {% if conference.online %}
                                Online <img class="country-flag" alt="" src="{{ asset('build/images/online.svg') }}">
                            {% elseif conference.country %}
                                {{ conference.city }} <img class="country-flag" alt="" src="/bundles/easyadmin/images/flags/{{ conference.country|upper }}.png">
                            {% endif %}
                        </div>
                        <div class="card-text my-3">{{
                                conference.description ?
                                conference.description|u.truncate(100, '...', false) :
                                '<em>No description provided</em>'|raw
                        }}</div>
                        {% set cfpIsOpen = conference.cfpEndAt is defined and (conference.cfpEndAt|date('m/d/Y') > 'now'|date('m/d/Y') or conference.cfpEndAt|date('Y') > 'now'|date('Y')) %}
                        {% set flexJustify = cfpIsOpen ? 'justify-content-between' : 'justify-content-center' %}
                        <div class="card-text d-flex {{ flexJustify }} text-center px-3 mt-auto">
                            <form action="{{ path('new_participation', { id: conference.id }) }}" method="GET" class="action-ask-participation">
                                <button type="submit" class="btn color-done p-0"><i class="fas fa-hand-paper"></i> Ask Participation</button>
                                <input type="hidden" name="token" value="{{ csrf_token('') }}">
                            </form>
                            {% if cfpIsOpen %}
                                <form action="{{ path('new_submit', { id: conference.id }) }}" method="GET" class="action-submit">
                                    <button type="submit" class="btn color-pending p-0"><i class="fa fa-microphone"></i> Submit a Talk</button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
