{% extends "user/user_layout.html.twig" %}

{% block nav %}
    {% set section = 'talks' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="mb-5">
        <h2 class="ml-5 mb-5">All your talks</h2>
        {% for talk in talks %}
            <div class="card w-75 mx-auto my-2">
                <div class="card-header">
                    <a href="{{ path('show_talk', { id: talk.id }) }}">
                        <h5 class="card-title text-primary my-0">{{ talk.title }}</h5>
                    </a>
                </div>

                <div class="card-body">
                    {{ talk.intro }}

                    <div class="justify-content-center mt-2">
                        <form action="{{ path('edit_talk', { id: talk.id }) }}" method="POST" class="action-edit text-center">
                            <button type="submit" class="btn color-edit p-0"><i class="fa fa-edit"></i> Edit</button>
                            <input type="hidden" name="token" value="{{ csrf_token('') }}">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
