{% extends "user/user_layout.html.twig" %}

{% block nav %}
    {% set section = 'talks' %}
    {{ parent() }}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme form.conference _self %}
{% form_theme form.intro _self %}
{% form_theme form.users _self %}

{% block _new_talk_conference_widget %}
    <input list="{{ id }}" class="form-control" name="{{ full_name }}" autocomplete="off" required>
    <datalist id="{{ id }}">
        {% for choice in choices %}
            <option value="{{ choice.name }}"></option>
        {% endfor %}
    </datalist>
{% endblock %}

{% block _new_talk_intro_widget %}
    <textarea class="form-control" name="{{ full_name }}" rows="6"></textarea>
{% endblock %}

{% block _new_talk_users_widget %}
    <select name="{{ full_name }}" class="tom-select" multiple required>
        {% for choice in choices %}
            <option
                value="{{ choice.value }}"
                {% if choice.data in data %}selected{% endif %}
            >
                {{ choice.label }}
            </option>
        {% endfor %}
    </select>
{% endblock %}

{% block content %}
    <section class="col-lg-6">
        {% if talks|length %}
            <div class="mb-5" id="all-talks-block">
                <h2 class="mb-5">Most recent talks</h2>
                {% for talk in talks|slice(0, 3) %}
                    <article class="card my-4">
                        <header class="card-header">
                            <a href="{{ path('show_talk', { id: talk.id }) }}">
                                <h5 class="card-title text-primary my-0">{{ talk.title }}</h5>
                            </a>
                        </header>
                        <div class="card-body">
                            {{ talk.intro|u.truncate(50, '...', false) }}

                            <form action="{{ path('edit_talk', { id: talk.id }) }}" method="POST" class="action-edit mt-2 text-right">
                                <button type="submit" class="btn color-edit p-0">
                                    <i class="fa fa-edit"></i> Edit
                                </button>
                                <input type="hidden" name="token" value="{{ csrf_token('') }}">
                            </form>
                        </div>
                    </article>
                {% endfor %}
                {% if talks|length > 3 %}
                    <p>
                        <a href="{{ path('user_talks_all') }}">
                            <span class="text-primary">...Show more</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        {% else %}
            <p class="my-5">
                <em>You don't have any talk to show yet. Maybe soon ?</em>
            </p>
        {% endif %}
    </section>
    <section class="col-lg-6">
        <h2 class="mb-5">Create a talk</h2>

        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.intro) }}
            {{ form_row(form.conference) }}
            {{ form_row(form.users) }}
            <p class="text-right">
                <button type="submit" class="btn btn-primary" id="submit_talk">Submit</button>
            </p>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/tomSelect') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/tomSelect') }}
{% endblock %}
