<li class="notification-dropdown nav-item {{ unreadNotifications|length ? 'activated' : '' }}">
    <div class="btn btn-outline-light notification-button fsize-medium mr-2">
        {% if unreadNotifications|length %}
            <i class="fas fa-exclamation-circle text-danger mr-1 fsize-large align-middle"></i> {{ unreadNotifications|length }} Notifications <i class="fas fa-chevron-right ml-1 text-danger"></i>
        {% else %}
            No Notifications
        {% endif %}
    </div>
    <div class="notification-list">
        <form class="notification-read-all js-build-url" action="{{ url('read_all_notification') }}" method="POST">
            <button type="submit" class="btn"><i class="fas fa-check"></i> Mark all as read</button>
            <input type="hidden" name="token" value="{{ csrf_token('') }}">
        </form>
        {% for index, notification in unreadNotifications|slice(0, 5) %}
            <div class="notification notification-{{ index }} fsize-medium">
                {{ include('user/notifications/' ~ notification.trigger ~ '.html.twig', { notification: notification }) }}
                <form class="notification-read js-build-url" action="{{ url('read_notification', { id: notification.id }) }}" method="POST">
                    <button type="submit" class="btn"><i class="fas fa-check"></i> Mark as read</button>
                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                </form>
            </div>
        {% endfor %}
        {% if unreadNotifications|length > 5 %}
            <div class="notification-more text-center mb-2">And {{ unreadNotifications|length - 5 }} more</div>
        {% endif %}
    </div>
</li>
