<strong>{{ notification.emitter }}</strong> <a href="{{ path(notification.submit.status ~ '_submits', { highlight: notification.submit.id }) }}" class="text-primary">submitted</a>
a talk with you at <a href="{{ path('conferences_show', { slug: notification.submit.conference.slug }) }}" class="text-primary">{{ notification.submit.conference.name }}</a>.<br>
You are about to give the following talk : <a href="{{ path('show_talk', { id: notification.submit.talk.id }) }}" class="text-primary">{{ notification.submit.talk }}</a>
