<strong>{{ notification.emitter }}</strong> <span class="color-cancel">cancelled</span> the submit for a talk you were giving together.
The concerned talk was <a href="{{ path('show_talk', { id: notification.talk.id }) }}" class="text-primary">{{ notification.talk.title }}</a>,
at <a href="{{ path('conferences_show', { slug: notification.conference.slug }) }}" class="text-primary">{{ notification.conference.name }}</a>
