{% extends "user/user_layout.html.twig" %}

{% block nav %}
    <a href="{{ path('user_participations') }}">
        <div class="btn btn-secondary">Back to participations</div>
    </a>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <h2 class="mx-0 mb-5">Conferences you will attend soon</h2>
        {% for participation in participations %}
            <div class="user-items-list">
                <div class="row">
                    <a href="{{ path('conferences_show', {slug: participation.conference.slug}) }}">
                        {{ participation.conference.name }}
                    </a>, starts on {{ participation.conference.startAt|date('m/d/Y') }}
                </div>

                <div class="row">
                    <a href="{{ path('user_participations') }}" class="pr-5">
                        <div class="btn text-info p-0"><i class="fa fa-edit"></i> Edit Participation</div>
                    </a>
                    <a href="{{ path('user_participations_cancel', { id: participation.id }) }}">
                        <div class="btn participation-cancel p-0"><i class="fa fa-times-circle"></i> Cancel Participation</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
