{% extends "user/user_layout.html.twig" %}

{% block nav %}
    {{ parent() }}
    <a href="{{ path('user_submits') }}" class="ml-auto">
        <div class="btn btn-primary">Back to submits</div>
    </a>
{% endblock %}

{% block content %}
    <div class="mb-5 w-100">
        <h2 class="ml-5 mb-5">Accepted Submits</h2>
        {% for submit in submits %}
            <div class="card w-75 mx-auto my-2">
                <div class="card-header">
                    <a href="{{ path('show_talk', { id: submit.talk.id }) }}">
                        <h5 class="card-title text-primary my-0">{{ submit.talk.title }}</h5>
                    </a>
                </div>

                <div class="card-body">
                    {% if submit.users|length > 1 %}
                        <div>
                            Given with :
                            {% for user in submit.users|filter(v => v != app.user) %}
                                {%- if not loop.first %}, {% endif %}{{ user.name -}}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div>
                        <a href="{{ path('conferences_show', { slug: submit.conference.slug }) }}">
                            {{ submit.conference.name -}}
                        </a> - starting on {{ submit.conference.startAt|date('m/d/Y') }}
                    </div>

                    <div class="d-flex justify-content-around mt-2">
                        <form action="{{ path('user_submit_pending', { id: submit.id }) }}" method="POST" class="action-pending">
                            <button type="submit" class="btn color-pending p-0"><i class="fa fa-hourglas-half"></i> Pending</button>
                            <input type="hidden" name="token" value="{{ csrf_token('') }}">
                        </form>
                        <form action="{{ path('user_submit_done', { id: submit.id }) }}" method="POST" class="action-done">
                            <button type="submit" class="btn color-done p-0"><i class="fa fa-clipboard"></i> Done</button>
                            <input type="hidden" name="token" value="{{ csrf_token('') }}">
                        </form>
                        <form action="{{ path('user_submit_reject', { id: submit.id }) }}" method="POST" class="action-reject">
                            <button type="submit" class="btn color-reject p-0"><i class="fa fa-times"></i> Reject</button>
                            <input type="hidden" name="token" value="{{ csrf_token('') }}">
                        </form>
                        <form action="{{ path('edit_submit', { id: submit.id }) }}" method="GET" class="action-edit">
                            <button type="submit" class="btn color-edit p-0"><i class="fa fa-edit"></i> Edit</button>
                        </form>
                        <form action="{{ path('user_submit_cancel', { id: submit.id }) }}" method="POST" class="action-cancel">
                            <button type="submit" class="btn color-cancel p-0"><i class="fa fa-times-circle"></i> Cancel</button>
                            <input type="hidden" name="token" value="{{ csrf_token('') }}">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
