{% extends "user/user_layout.html.twig" %}

{% block nav %}
    {% set section = 'submits' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="mb-5 w-100">
        <h2 class="ml-5 mb-5">Rejected Submits</h2>
        {% for submit in submits %}
            <div id="{{ submit.id }}" class="card w-75 mx-auto my-2">
                <div class="card-header">
                    <a href="{{ path('show_talk', { id: submit.talk.id }) }}">
                        <h5 class="card-title text-primary my-0">{{ submit.talk.title }}</h5>
                    </a>
                </div>

                <div class="card-body">
                    {% if submit.users|length > 1 %}
                        <div>
                            Given with :
                            {% for user in submit.users|filter(v => v != app.user) %}
                                {%- if not loop.first %}, {% endif %}{{ user.name -}}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div>
                        <a href="{{ path('conferences_show', { slug: submit.conference.slug }) }}">
                            <span class="text-primary">{{ submit.conference.name -}}</span>
                        </a> - starting on {{ submit.conference.startAt|date('m/d/Y') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/highlightScroll') }}
{% endblock %}
