{% extends "user/user_layout.html.twig" %}

{% block nav %}
    <a href="{{ path('user_submits') }}">
        <div class="btn btn-secondary">Back to submits</div>
    </a>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <h2 class="mx-0 mb-5">Rejected submits</h2>
        {% for submit in submits %}
            <div class="user-items-list">
                <div class="row lead mb-2">
                    Talk submitted :&nbsp;
                    <a href="#">
                        {{ submit.talk.title }}
                    </a>
                </div>

                <div class="row mb-2">
                    {{ submit.talk.intro }}
                </div>

                {% if submit.users|length > 1 %}
                    <div class="row">
                        Given with :
                        {% for user in submit.users %}
                            {% if app.user != user %}
                                {{ user.name }}{% if not loop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row">
                    At :&nbsp;
                    <a href="{{ path('conferences_show', { slug: submit.conference.slug }) }}">
                        {{ submit.conference.name }}
                    </a>, starts on {{ submit.conference.startAt|date('m/d/Y') }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
