{% extends "user/user_layout.html.twig" %}

{% block nav %}
    {% set section = 'submits' %}
    {{ parent() }}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme form.conference _self %}
{% form_theme form.users _self %}

{% block _submit_conference_widget %}
    <input list="{{ id }}" class="form-control" name="{{ full_name }}" required autocomplete="off">
    <datalist id="{{ id }}">
        {% for choice in choices %}
            <option value="{{ choice.name }}"></option>
        {% endfor %}
    </datalist>
{% endblock %}

{% block _submit_users_label %}
    <label for="{{ full_name }}" class="d-block">
        Users
        {{ form_errors(form) }}
    </label>
{% endblock %}

{% block _submit_users_widget %}
    <select name="{{ full_name }}" class="tom-select" multiple required>
        {% for choice in choices %}
            <option
                value="{{ choice.value }}"
                {% if choice.value in value %} selected {% endif %}
            >
                {{ choice.label }}
            </option>
        {% endfor %}
    </select>
{% endblock %}

{% block content %}
    <section class="col-lg-6">
        {% if pendingSubmits|length %}
            <div class="mb-5" id="pending-submits-block">
                <h2 class="mb-5">Submits still waiting for approval</h2>
                {% for submit in pendingSubmits|slice(0, 3) %}
                    <article class="card my-4">
                        <header class="card-header">
                            <a href="{{ path('show_talk', { id: submit.talk.id }) }}">
                                <h5 class="card-title text-primary my-0">{{ submit.talk.title }}</h5>
                            </a>
                        </header>
                        <div class="card-body">
                            {% if submit.users|length > 1 %}
                                <p>
                                    Given with :
                                    {% for user in submit.users|filter(v => v != app.user) %}
                                        {%- if not loop.first %}, {% endif %}{{ user.name -}}
                                    {% endfor %}
                                </p>
                            {% endif %}

                            <p>
                                <a href="{{ path('conferences_show', { slug: submit.conference.slug }) }}">
                                    <span class="text-primary">{{ submit.conference.name -}}</span>
                                </a>
                                - starting on
                                <time datetime="{{ submit.conference.startAt|date('m/d/Y') }}" class="mark">
                                    {{ submit.conference.startAt|date('m/d/Y') }}
                                </time>
                            </p>
                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                <form action="{{ path('user_submit_accept', { id: submit.id }) }}" method="POST" class="action-accept">
                                    <button type="submit" class="btn color-accept p-0">
                                        <i class="fa fa-check"></i> Accept
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                                <form action="{{ path('user_submit_done', { id: submit.id }) }}" method="POST" class="action-done">
                                    <button type="submit" class="btn color-done p-0">
                                        <i class="fa fa-clipboard"></i> Done
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                                <form action="{{ path('user_submit_reject', { id: submit.id }) }}" method="POST" class="action-reject">
                                    <button type="submit" class="btn color-reject p-0">
                                        <i class="fa fa-times"></i> Reject
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                                <form action="{{ path('edit_submit', { id: submit.id }) }}" method="GET" class="action-edit">
                                    <button type="submit" class="btn color-edit p-0">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                </form>
                                <form action="{{ path('user_submit_cancel', { id: submit.id }) }}" method="POST" class="action-cancel">
                                    <button type="submit" class="btn color-cancel p-0">
                                        <i class="fa fa-times-circle"></i> Cancel
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                {% if pendingSubmits|length > 3 %}
                    <p>
                        <a href="{{ path('pending_submits') }}">
                            <span class="text-primary">...Show more</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        {% endif %}

        {% if futureSubmits|length %}
            <div class="mb-5" id="future-submits-block">
                <h2 class="mb-5">Future Submits</h2>
                {% for submit in futureSubmits|slice(0, 3) %}
                    <article class="card my-4">
                        <header class="card-header">
                            <a href="{{ path('show_talk', { id: submit.talk.id }) }}">
                                <h5 class="card-title text-primary my-0">{{ submit.talk.title }}</h5>
                            </a>
                        </header>
                        <div class="card-body">
                            {% if submit.users|length > 1 %}
                                <p>
                                    Given with :
                                    {% for user in submit.users|filter(v => v != app.user) %}
                                        {%- if not loop.first %}, {% endif %}{{ user.name -}}
                                    {% endfor %}
                                </p>
                            {% endif %}

                            <p>
                                <a href="{{ path('conferences_show', { slug: submit.conference.slug }) }}">
                                    <span class="text-primary">{{ submit.conference.name -}}</span>
                                </a>
                                - starting on
                                <time datetime="{{ submit.conference.startAt|date('m/d/Y') }}" class="mark">
                                    {{ submit.conference.startAt|date('m/d/Y') }}
                                </time>
                            </p>
                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                <form action="{{ path('user_submit_pending', { id: submit.id }) }}" method="POST" class="action-pending">
                                    <button type="submit" class="btn color-pending p-0">
                                        <i class="fas fa-hourglass-half"></i> Pending
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                                <form action="{{ path('user_submit_done', { id: submit.id }) }}" method="POST" class="action-done">
                                    <button type="submit" class="btn color-done p-0">
                                        <i class="fa fa-clipboard"></i> Done
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                                <form action="{{ path('user_submit_reject', { id: submit.id }) }}" method="POST" class="action-reject">
                                    <button type="submit" class="btn color-reject p-0">
                                        <i class="fa fa-times"></i> Reject
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                                <form action="{{ path('edit_submit', { id: submit.id }) }}" method="GET" class="action-edit">
                                    <button type="submit" class="btn color-edit p-0">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                </form>
                                <form action="{{ path('user_submit_cancel', { id: submit.id }) }}" method="POST" class="action-cancel">
                                    <button type="submit" class="btn color-cancel p-0">
                                        <i class="fa fa-times-circle"></i> Cancel
                                    </button>
                                    <input type="hidden" name="token" value="{{ csrf_token('') }}">
                                </form>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                {% if futureSubmits|length > 3 %}
                    <p>
                        <a href="{{ path('accepted_submits') }}">
                            <span class="text-primary">...Show more</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        {% endif %}

        {% if doneSubmits|length %}
            <div class="mb-5" id="done-submits-block">
                <h2 class="mb-5">Done Submits</h2>
                {% for submit in doneSubmits|slice(0, 3) %}
                    <article class="card my-4">
                        <header class="card-header">
                            <a href="{{ path('show_talk', { id: submit.talk.id }) }}">
                                <h5 class="card-title text-primary my-0">{{ submit.talk.title }}</h5>
                            </a>
                        </header>
                        <div class="card-body">
                            {% if submit.users|length > 1 %}
                                <p>
                                    Given with :
                                    {% for user in submit.users|filter(v => v != app.user) %}
                                        {%- if not loop.first %}, {% endif %}{{ user.name -}}
                                    {% endfor %}
                                </p>
                            {% endif %}

                            <p class="card-text">
                                <a href="{{ path('conferences_show', { slug: submit.conference.slug }) }}">
                                    <span class="text-primary">{{ submit.conference.name -}}</span>
                                </a>
                                - ended on
                                <time datetime="{{ submit.conference.endAt|date('m/d/Y') }}" class="mark">
                                    {{ submit.conference.endAt|date('m/d/Y') }}
                                </time>
                            </p>
                        </div>
                    </article>
                {% endfor %}
                {% if doneSubmits|length > 3 %}
                    <p>
                        <a href="{{ path('done_submits') }}">
                            <span class="text-primary">...Show more</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        {% endif %}

        {% if rejectedSubmits|length %}
            <div class="mb-5" id="rejected-submits-block">
                <h2 class="mb-5">Rejected Submits</h2>
                {% for submit in rejectedSubmits|slice(0, 3) %}
                    <article class="card my-4">
                        <header class="card-header">
                            <a href="{{ path('show_talk', { id: submit.talk.id }) }}">
                                <h5 class="card-title text-primary my-0">{{ submit.talk.title }}</h5>
                            </a>
                        </header>
                        <div class="card-body">
                            {% if submit.users|length > 1 %}
                                <p>
                                    Given with :
                                    {% for user in submit.users|filter(v => v != app.user) %}
                                        {%- if not loop.first %}, {% endif %}{{ user.name -}}
                                    {% endfor %}
                                </p>
                            {% endif %}

                            <p class="card-text">
                                <a href="{{ path('conferences_show', { slug: submit.conference.slug }) }}">
                                    <span class="text-primary">{{ submit.conference.name -}}</span>
                                </a>
                                - starting on
                                <time datetime="{{ submit.conference.startAt|date('m/d/Y') }}" class="mark">
                                    {{ submit.conference.startAt|date('m/d/Y') }}
                                </time>
                            </p>
                        </div>
                    </article>
                {% endfor %}
                {% if rejectedSubmits|length > 3 %}
                    <p>
                        <a href="{{ path('rejected_submits') }}">
                            <span class="text-primary">...Show more</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        {% endif %}

        {% if
            not pendingSubmits|length and
            not futureSubmits|length and
            not doneSubmits|length and
            not rejectedSubmits|length
        %}
            <p class="my-5">
                <em>You don't have any submit to show yet. Maybe soon ?</em>
            </p>
        {% endif %}
    </section>
    <section class="col-lg-6">
        <div class="mb-5">
            {% if chart %}
                {{ render_chart(chart) }}
            {% endif %}
        </div>
        <div class="pt-5">
            <h2 class="mb-5">Submit a talk</h2>

            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.conference) }}
                {{ form_row(form.talk) }}
                {{ form_row(form.users) }}
                <p class="text-right">
                    <button type="submit" class="btn btn-primary" id="submit_submit">Submit</button>
                </p>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/tomSelect') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/tomSelect') }}
{% endblock %}
