{% extends 'base.html.twig' %}

{% macro display_conferences(conferences, id, activeTab) %}
    <div class="tab-pane fade show p-3{{ activeTab == id ? ' active' }}"
         id="{{ id }}"
         role="tabpanel"
         aria-labelledby="{{ id }}-tab">
        <div class="row text-center my-3 my-md-5">
            {% for conference in conferences %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <article class="card h-100">
                        <div class="card-body">
                            <h3 class="h5 card-title font-weight-normal">
                                <a href="{{ path('conferences_show', {slug: conference.slug}) }}">
                                    {{ conference.name }}
                                </a>
                            </h3>
                            <h4 class="h6 card-subtitle mb-2 text-muted font-weight-normal">
                            {% if conference.online %}
                                Online <img class="country-flag" alt="" src="{{ asset('build/images/online.svg') }}">
                            {% elseif conference.country %}
                                {{ conference.city }} <img width="24" height="16" class="country-flag" alt="Country Flag" src="/bundles/easyadmin/images/flags/{{ conference.country|upper }}.png">
                            {% endif %}
                            </h4>
                            <p class="card-text">
                                <small>
                                    {{ conference.startAt|date('d F Y') }} - {{ conference.endAt|date('d F Y') }}
                                </small>
                            </p>
                            <a href="{{ conference.siteUrl }}" target="_blank" class="btn btn-outline-secondary btn-sm">
                                {{ 'conference.card.site_button_label'|trans }} <i class="fas fa-external-link-alt"></i>
                            </a>
                            {% if conference.cfpUrl is not null %}
                                <a href="{{ conference.cfpUrl }}" target="_blank" class="btn btn-outline-success btn-sm">
                                    {{ 'conferences.card.cfp_button_label'|trans }} <i class="fas fa-external-link-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% import _self as macro %}

{% block body %}
    <section class="text-dark">
        <div class="container-fluid bg-light text-dark pt-3 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {{ include('demo-message.html.twig') }}
                        <div class="jumbotron">
                            <h2 class="display-4">
                                {{ 'conferences.list.title'|trans }}
                            </h2>
                            <p class="lead">
                                {{ 'conferences.list.baseline'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                {{ include('flashes/'~label~'.html.twig', { message: message }) }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                {% set activeTab = activeTab|default(liveConferences|length > 0 ? 'live' : futureConferences|length > 0 ? 'future' : 'past') %}

                <ul class="nav nav-tabs" id="conferencesTabs" role="tablist" aria-label="Conferences">
                    {% if liveConferences|length > 0 %}
                        <li class="nav-item" role="none">
                            <a class="nav-link{{ activeTab == 'live' ? ' active' }}"
                               id="live-tab"
                               data-toggle="tab"
                               href="#live"
                               role="tab"
                               aria-controls="live"
                               aria-selected="{{ activeTab == 'live' ? 'true' : 'false' }}">
                                {{ 'conferences.list.live.title'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if futureConferences|length > 0 %}
                        <li class="nav-item" role="none">
                            <a class="nav-link{{ activeTab == 'future' ? ' active' }}"
                               id="future-tab"
                               data-toggle="tab"
                               href="#future"
                               role="tab"
                               aria-controls="future"
                               aria-selected="{{ activeTab == 'future' ? 'true' : 'false' }}">
                                {{ 'conferences.list.future.title'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if pastConferences|length > 0 %}
                        <li class="nav-item" role="none">
                            <a class="nav-link{{ activeTab == 'past' ? ' active' }}"
                               id="past-tab"
                               data-toggle="tab"
                               href="#past"
                               role="tab"
                               aria-controls="past"
                               aria-selected="{{ activeTab == 'past' ? 'true' : 'false' }}">
                                {{ 'conferences.list.past.title'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <div class="tab-content" id="conferencesTabsContent">
                    {{ liveConferences|length > 0 ? macro.display_conferences(liveConferences, 'live', activeTab) }}
                    {{ futureConferences|length > 0 ? macro.display_conferences(futureConferences, 'future', activeTab) }}
                    {{ pastConferences|length > 0 ? macro.display_conferences(pastConferences, 'past', activeTab) }}
                </div>
                {{ include('map.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
