<header class="container">
    <nav class="navbar navbar-expand-lg bg-purple navbar-dark justify-content-center justify-content-md-between mx--30">
        <div class="c-logo">
            <img src="{{ asset('build/images/logo.svg') }}"
                 width="86"
                 height="86"
                 alt="">
            <h1 class="h2 mb-0 ml-3">
                <a href="{{ path('conferences_list') }}" class='c-logo__link'>Starfleet</a>
            </h1>
            <span class="c-logo__badge badge badge-light ml-3">beta</span>
        </div>
        {% if not app.user %}
            <p class="mb-0 text-light">
                <a href="https://jolicode.com" target="_blank">
                    <img src="{{ asset('build/images/logo-jolicode.svg') }}"
                         width="180"
                         height='42'
                         alt="JoliCode">
                </a>
            </p>
        {% endif %}
        <div>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto position-relative">
                    {% if not app.user %}
                        <li class="nav-item mr-2">
                            <a class="btn btn-outline-light py-2 fsize-medium"
                               href="{{ app.user ? path('user_account') : path('login') }}">
                                   <i class="fas fa-unlock text-warning fsize-medium align-middle mr-1"></i> Login
                            </a>
                        </li>
                    {% else %}
                        {{ render(controller('App\\Controller\\UserAccount\\NotificationController::allUnreadNotifications')) }}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
