<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Starfleet - A Slack bot for conferences CFP{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Expletus+Sans" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {{ include('_header.html.twig') }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {{ include('_footer.html.twig') }}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
