{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <aside class="col-4">
                <h1>{{ user.name }}</h1>
                <nav>
                    <a href="#"><div>Future Conferences</div></a>
                    <a href="#"><div>My Talks</div></a>
                    <a href="#"><div>My Participations</div></a>
                    <a href="#"><div>Edit my account</div></a>
                </nav>
            </aside>

            <section class="col-8">
                <h4>Attended Conferences</h4>
                <p>{{ attendedConferences|length }}</p>

                {% for conference in attendedConferences %}
                    <p>{{ conference }}</p>
                {% endfor %}

                <h4>Submits</h4>

                <p>You submitted a participation for a total of {{ user.submits|length }} conferences !</p>

                <p>Submits waiting for validation : </p>

                {% for submit in pendingSubmits %}
                    <h5>{{ submit.conference.name }}</h5>
                    Given by :
                    {% for user in submit.users %}
                        {{ user }} {% if not loop.last %},{% endif %}
                    {% endfor %}

                    <p>Submit with status : {{ submit.status }}</p>
                {% endfor %}

                <p>Total of accepted submits : {{ acceptedSubmits|length }}</p>

                {% for submit in acceptedSubmits %}
                    <p>{{ submit.conference.name }}</p>
                {% endfor %}

                <p>Total of rejected submits : {{ rejectedSubmits|length }}</p>

                {% for submit in rejectedSubmits %}
                    <p>{{ submit.conference.name }}</p>
                {% endfor %}

                {% if upcomingSubmits|length %}
                    {% for submit in upcomingSubmits %}
                        <p>{{ submit.conference.name }}</p>
                        <p>{{ submit.talk.title }}</p>
                        <p>{{ submit.talk.intro }}</p>
                        {% if submit.users|length > 1 %}
                            <p>Given with {{ 'other user' }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
