{% extends "base.html.twig" %}

{% set section = 'home' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/user') }}
{% endblock %}

{% block body %}
<div class="container-fluid bg-light">
    <div class="container">
        <div class="position-relative pt-5">
            <div class="lr-100">
                {% for message in app.flashes('info') %}
                    <div class="alert alert-info text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="pt-5 pl-5 mt-5 d-flex align-items-stretch user_menu">
                {% block nav %}
                    <a href="{{ path('user_account') }}">
                        <div class="btn btn-secondary">Back Home</div>
                    </a>
                    <a href="{{ path('future_conferences') }}">
                        <div class="btn btn-{{ section == 'conferences' ? 'primary' : 'secondary' }}">Conferences</div>
                    </a>
                    <a href="{{ path('user_submits') }}">
                        <div class="btn btn-{{ section == 'submits' ? 'primary' : 'secondary' }}">Submits</div>
                    </a>
                    <a href="{{ path('user_talks') }}">
                        <div class="btn btn-{{ section == 'talks' ? 'primary' : 'secondary' }}">Talks</div>
                    </a>
                    <a href="{{ path('user_participations') }}">
                        <div class="btn btn-{{ section ==  'participations' ? 'primary' : 'secondary' }}">Participations</div>
                    </a>
                    <a href="{{ path('user_profile') }}">
                        <div class="btn btn-{{ section ==  'profile' ? 'primary' : 'secondary' }}">Edit Profile</div>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('easyadmin') }}">
                            <div class="btn btn-info" id ="admin-button">Admin</div>
                        </a>
                    {% endif %}
                    <a href="{{ path('logout') }}" class="ml-auto mr-5">
                        <div class="btn btn-info">Logout</div>
                    </a>
                {% endblock %}
            </div>
        </div>

        <div class="row py-5">
            {% block content %}
                {% if section == 'homepage' %}
                    <h1 class="username">{{ app.user.name }}</h1>
                {% endif %}
            {% endblock %}
        </div>

    </div>
</div>
{% endblock %}
