{% extends "base.html.twig" %}

{% set section = 'account' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/user') }}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light pt-4 pb-5">
        <div class="container">
            {% for level, messages in app.flashes %}
                {% for message in messages %}
                    {{ include('flashes/'~level~'.html.twig', {
                        message: message,
                        center: true
                    }) }}
                {% endfor %}
            {% endfor %}

            <div class="d-flex justify-content-between user_menu">
                {% block nav %}
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                                <a href="{{ path('user_account') }}" class="nav-link {{ section == 'account' ? 'active' }}">
                                    Account
                                </a>
                            </li>
                        <li class="nav-item">
                            <a href="{{ path('future_conferences') }}"
                               class="nav-link {{ section == 'conferences' ? 'active' }}">
                                Conferences
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_submits') }}" class="nav-link {{ section == 'submits' ? 'active' }}">
                                Submits
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_talks') }}" class="nav-link {{ section == 'talks' ? 'active' }}">
                                Talks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_participations') }}" class="nav-link {{ section ==  'participations' ? 'active' }}">
                                Participations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_profile') }}" class="nav-link {{ section ==  'profile' ? 'active' }}">
                                Edit Profile
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a href="{{ path('easyadmin') }}" class="nav-link">
                                    <span id ="admin-button">Admin</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <a href="{{ path('logout') }}">
                        <div class="btn btn-outline-dark">Logout</div>
                    </a>
                {% endblock %}
            </div>

            <div class="row mt-4">
                <section class="col-12 mx-auto">
                    {% block content %}{% endblock %}
                </section>
            </div>

        </div>
    </div>
{% endblock %}
