{% extends "base.html.twig" %}

{% set section = 'home' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/user') }}
{% endblock %}

{% block body %}
<div class="container-fluid bg-light">
    <div class="container">
        <div class="position-relative pt-5">
            <div class="lr-100">
                {% for message in app.flashes('info') %}
                    <div class="alert alert-info text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <ul role="menu" class="pt-5 d-flex flex-column flex-lg-row list-unstyled">
                {% block nav %}
                    <li role="presentation" class="mr-lg-1">
                        <a
                            role="menuitem"
                            href="{{ path('user_account') }}"
                            class="btn btn-secondary w-100">
                            Back Home
                        </a>
                    </li>
                    <li role="presentation" class="mt-1 mt-lg-0 mr-lg-1">
                        <a
                            role="menuitem"
                            href="{{ path('future_conferences') }}"
                            class="btn btn-{{ section == 'conferences' ? 'primary' : 'secondary' }} w-100">
                            Conferences
                        </a>
                    </li>
                    <li role="presentation" class="mt-1 mt-lg-0 mr-lg-1">
                        <a
                            role="menuitem"
                            href="{{ path('user_submits') }}"
                            class="btn btn-{{ section == 'submits' ? 'primary' : 'secondary' }} w-100">
                            Submits
                        </a>
                    </li>
                    <li role="presentation" class="mt-1 mt-lg-0 mr-lg-1">
                        <a
                            role="menuitem"
                            href="{{ path('user_talks') }}"
                            class="btn btn-{{ section == 'talks' ? 'primary' : 'secondary' }} w-100">
                            Talks
                        </a>
                    </li>
                    <li role="presentation" class="mt-1 mt-lg-0 mr-lg-1">
                        <a
                            role="menuitem"
                            href="{{ path('user_participations') }}"
                            class="btn btn-{{ section ==  'participations' ? 'primary' : 'secondary' }} w-100">
                            Participations
                        </a>
                    </li>
                    <li role="presentation" class="mt-1 mt-lg-0 mr-lg-1">
                        <a
                            role="menuitem"
                            href="{{ path('user_profile') }}"
                            class="btn btn-{{ section ==  'profile' ? 'primary' : 'secondary' }} w-100">
                            Edit Profile
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li role="presentation" class="mt-1 mt-lg-0 mr-lg-1">
                            <a
                                role="menuitem"
                                href="{{ path('easyadmin') }}"
                                id ="admin-button"
                                class="btn btn-info w-100">
                                Admin
                            </a>
                        </li>
                    {% endif %}

                    <li role="presentation" class="mt-1 mt-lg-0 ml-lg-auto">
                        <a
                            role="menuitem"
                            href="{{ path('logout') }}"
                            class="btn btn-info w-100">
                            Logout
                        </a>
                    </li>
                {% endblock %}
            </ul>
        </div>

        <div class="row py-5">
            {% block content %}
                {% if section == 'homepage' %}
                    <h1 class="username">{{ app.user.name }}</h1>
                {% endif %}
            {% endblock %}
        </div>

    </div>
</div>
{% endblock %}
